a.h1{
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}

a.h1:hover{
    text-decoration: none;
}

body{
    background-color: #555;
}

div.commentText p{
    font-family: monospace;
    font-size: 20px;
}

h1, h2, h3, .commentText p{
    color: white;
}

div.img-frame img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

img.card-img-top{
    width: auto;
    max-width: 85%;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}